################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore Visual Studio user-specific and build folders
.vs/
bin/
obj/
Debug/
*.user
*.suo
*.userosscache
*.sln.docstates
/milton/bin/
/milton/obj/
/milton/appsettings.json
